frontend/web/template/app/pages/moderate.jade
extends /blocks/layout-default/layout-default
include ../blocks/comment/comment

block head
    - var pageTitle = 'Модерация заявки';

block content
    .container-box
        +breadcrumbs('Модерация заявки')
        .row
            +sidebar
            .col-sm-9.xol-xs-12.margin-top
                h1 Модерация заявки

                .row
                    .col-sm-12
                        h3 Документы
                        ul
                            li: a(href="#") - Passport
                            li: a(href="#") - Marriage certificate
                            li: a(href="#") - MCV3



                        h3 Написать пользователю
                        form.form
                            .form-group
                                textarea
                            .form-group
                                button.btn.btn-success Отправить

                        h3 Последние сообщения
                        +comment Вам нужно сделать то-то и то-то
                        +comment Вот ваши документы

frontend/web/template/dist/moderate.html
<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="imagetoolbar" content="no">
		<meta name="msthemecompatible" content="no">
		<meta name="cleartype" content="on">
		<meta name="HandheldFriendly" content="True">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<meta name="google" value="notranslate">
		<meta name="theme-color" content="#ffffff">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link sizes="57x57" href="/apple-touch-icon-57x57.png" rel="apple-touch-icon">
		<link sizes="114x114" href="/apple-touch-icon-114x114.png" rel="apple-touch-icon">
		<link sizes="72x72" href="/apple-touch-icon-72x72.png" rel="apple-touch-icon">
		<link sizes="144x144" href="/apple-touch-icon-144x144.png" rel="apple-touch-icon">
		<link sizes="60x60" href="/apple-touch-icon-60x60.png" rel="apple-touch-icon">
		<link sizes="120x120" href="/apple-touch-icon-120x120.png" rel="apple-touch-icon">
		<link sizes="76x76" href="/apple-touch-icon-76x76.png" rel="apple-touch-icon">
		<link sizes="152x152" href="/apple-touch-icon-152x152.png" rel="apple-touch-icon">
		<link sizes="180x180" href="/apple-touch-icon-180x180.png" rel="apple-touch-icon">
		<link sizes="192x192" href="/favicon-192x192.png" rel="icon" type="image/png">
		<link sizes="160x160" href="/favicon-160x160.png" rel="icon" type="image/png">
		<link sizes="96x96" href="/favicon-96x96.png" rel="icon" type="image/png">
		<link sizes="16x16" href="/favicon-16x16.png" rel="icon" type="image/png">
		<link sizes="32x32" href="/favicon-32x32.png" rel="icon" type="image/png">
		<link rel="manifest" href="/manifest.json">
		<meta name="application-name" content="">
		<meta name="msapplication-tooltip" content="">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/mstile-large.png">
		<meta name="msapplication-starturl" content="https://csssr.github.io/csssr-project-template/">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="msapplication-square70x70logo" content="/mstile-small.png">
		<meta name="msapplication-square150x150logo" content="/mstile-medium.png">
		<meta name="msapplication-wide310x150logo" content="/mstile-wide.png">
		<meta name="msapplication-square310x310logo" content="/mstile-large.png">
		<title>Модерация заявки</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
		<link href="/assets/styles/app.min.css" rel="stylesheet">
	</head>

	<body class="page">
		<div class="header">
			<a class="header-logo">CYP SERVICE</a>
			<nav class="header-langs">
				<ul>
					<li>
						<a href="#">EN</a>
					</li>
					<li>
						<a href="#">RU</a>
					</li>
					<li>
						<a href="#">GR</a>
					</li>
				</ul>
			</nav>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">Вход</a>
					</li>
					<li>
						<a href="#">Регистрация</a>
					</li>
				</ul>
			</nav>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Terms</a>
					</li>
				</ul>
			</nav>
		</div>
		<section class="content">
			<div class="container-box">
				<ul class="breadcrumbs">
					<li>
						<a href="index.html">Главная</a>
					</li>
					<li>Модерация заявки</li>
				</ul>
				<div class="row">
					<div class="col-sm-3 col-xs-12 sidebar">
						<div class="card card-noshadow">
							<div class="card-title">Навигация</div>
							<div class="card-body">
								<ul class="sidebar_menu">
									<li>
										<a href="#">Профиль</a>
									</li>
									<li>
										<a href="#">Заказы</a>
									</li>
									<li>
										<a href="#">Настройки</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-9 xol-xs-12 margin-top">
						<h1>Модерация заявки</h1>
						<div class="row">
							<div class="col-sm-12">
								<h3>Документы</h3>
								<ul>
									<li>
										<a href="#">- Passport</a>
									</li>
									<li>
										<a href="#">- Marriage certificate</a>
									</li>
									<li>
										<a href="#">- MCV3</a>
									</li>
								</ul>
								<h3>Написать пользователю</h3>
								<form class="form">
									<div class="form-group">
										<textarea></textarea>
									</div>
									<div class="form-group">
										<button class="btn btn-success">Отправить</button>
									</div>
								</form>
								<h3>Последние сообщения</h3>
								<div class="comment">
									<div class="comment-info">
										<div class="comment-date">01.04.2018</div>
										<div class="comment-name">Viktor</div>
									</div>
									<div class="comment-text">Вам нужно сделать то-то и то-то</div>
								</div>
								<div class="comment">
									<div class="comment-info">
										<div class="comment-date">01.04.2018</div>
										<div class="comment-name">Viktor</div>
									</div>
									<div class="comment-text">Вот ваши документы</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="footer"></div>
		<script src="/assets/scripts/app.min.js"></script>
	</body>

</html>
