frontend/web/template/dist/service.html
<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="imagetoolbar" content="no">
		<meta name="msthemecompatible" content="no">
		<meta name="cleartype" content="on">
		<meta name="HandheldFriendly" content="True">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<meta name="google" value="notranslate">
		<meta name="theme-color" content="#ffffff">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link sizes="57x57" href="/apple-touch-icon-57x57.png" rel="apple-touch-icon">
		<link sizes="114x114" href="/apple-touch-icon-114x114.png" rel="apple-touch-icon">
		<link sizes="72x72" href="/apple-touch-icon-72x72.png" rel="apple-touch-icon">
		<link sizes="144x144" href="/apple-touch-icon-144x144.png" rel="apple-touch-icon">
		<link sizes="60x60" href="/apple-touch-icon-60x60.png" rel="apple-touch-icon">
		<link sizes="120x120" href="/apple-touch-icon-120x120.png" rel="apple-touch-icon">
		<link sizes="76x76" href="/apple-touch-icon-76x76.png" rel="apple-touch-icon">
		<link sizes="152x152" href="/apple-touch-icon-152x152.png" rel="apple-touch-icon">
		<link sizes="180x180" href="/apple-touch-icon-180x180.png" rel="apple-touch-icon">
		<link sizes="192x192" href="/favicon-192x192.png" rel="icon" type="image/png">
		<link sizes="160x160" href="/favicon-160x160.png" rel="icon" type="image/png">
		<link sizes="96x96" href="/favicon-96x96.png" rel="icon" type="image/png">
		<link sizes="16x16" href="/favicon-16x16.png" rel="icon" type="image/png">
		<link sizes="32x32" href="/favicon-32x32.png" rel="icon" type="image/png">
		<link rel="manifest" href="/manifest.json">
		<meta name="application-name" content="">
		<meta name="msapplication-tooltip" content="">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/mstile-large.png">
		<meta name="msapplication-starturl" content="https://csssr.github.io/csssr-project-template/">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="msapplication-square70x70logo" content="/mstile-small.png">
		<meta name="msapplication-square150x150logo" content="/mstile-medium.png">
		<meta name="msapplication-wide310x150logo" content="/mstile-wide.png">
		<meta name="msapplication-square310x310logo" content="/mstile-large.png">
		<title>CSSSR Project Template</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
		<link href="/assets/styles/app.min.css" rel="stylesheet">
	</head>

	<body class="page">
		<div class="header">
			<a class="header-logo">CYP SERVICE</a>
			<nav class="header-langs">
				<ul>
					<li>
						<a href="#">EN</a>
					</li>
					<li>
						<a href="#">RU</a>
					</li>
					<li>
						<a href="#">GR</a>
					</li>
				</ul>
			</nav>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">Вход</a>
					</li>
					<li>
						<a href="#">Регистрация</a>
					</li>
				</ul>
			</nav>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Terms</a>
					</li>
				</ul>
			</nav>
		</div>
		<section class="content">
			<div class="container-box">
				<ul class="breadcrumbs">
					<li>
						<a href="index.html">Главная</a>
					</li>
					<li>Pink Slip</li>
				</ul>
				<h1>Pink slip</h1>
				<div class="row margin-bottom">
					<div class="col-sm-6">
						<table class="table">
							<tr>
								<td>Стоимость</td>
								<td>Бесплатно - 200 евро</td>
							</tr>
							<tr>
								<td>Сроки исполнения</td>
								<td>До 2 недель</td>
							</tr>
							<tr>
								<td>Ордер</td>
								<td>
									<select class="select-order">
										<option>Новый</option>
										<option selected>PS12351232322</option>
										<option>PS12351232323</option>
										<option>PS12351232323</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Статус</td>
								<td>Активен</td>
							</tr>
							<tr>
								<td>Баланс</td>
								<td>10 евро</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="service">
					<div class="service-step active">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
						</div>
						<div class="service-step__content">
							<div class="btn-group">
								<a class="btn btn-success">Бесплатная информация</a>
								<a class="btn btn-success-border">Электронные документы</a>
								<a class="btn btn-success-border">Сопровождение</a>
							</div>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-paper-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Процедура</h4>
							<p>Procedure for electronic documents</p>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-list-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Чек лист</h4>
							<table class="table">
								<tr>
									<td>Copy of valid passport or other travel document with validity of at least three (3) months from the date of the
										submission of the application</td>
								</tr>
								<tr>
									<td>Copy of the passport or other travel document, indicating the last arrival in the Republic and the relevant visa
										(if applicable)</td>
								</tr>
								<tr>
									<td>Copy of the Special Homogenous Identity Card (SHIC), or Certificate by the Embassy of Greece stating that the application
										for the SHIC is still under consideration</td>
								</tr>
								<tr>
									<td>Letter of approval (where applicable)</td>
								</tr>
								<tr>
									<td>Original letter of guarantee issued by a bank or cooperative institution in Cyprus with validity of 10 years covering
										possible repatriation expenses. The amount depends on the country of origin.</td>
								</tr>
								<tr>
									<td>Certificate of Health Insurance for medical care that covers inpatient and outpatient care and transportation of
										corpse (Plan A)</td>
								</tr>
								<tr>
									<td>Copy of marriage certificate (where applicable)</td>
								</tr>
								<tr>
									<td>Title deed or rental agreement of a house/apartment duly certified by the relevant president of the community (mukhtar)</td>
								</tr>
								<tr>
									<td>Proof of stable or adequate income deriving from sources other than employment (i.e. pension, bank account's statement,
										interest from deposits, dividends etc)</td>
								</tr>
								<tr>
									<td>Certificate from a banking institution in Cyprus or a bank account statement proving swifts from abroad</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-personadd-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Авторизация</h4>
							<p class="margin-bottom">Для продолжения работы в системе, вам необходимо авторизоваться</p>
							<div>
								<a href="#" class="btn btn-success margin-right-small">Вход</a>или
								<a href="#">Регистрация</a>
							</div>
						</div>
					</div>
					<div class="service-step active">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-checkmark-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Авторизация</h4>
							<div class="alert alert-success">Вы успешно авторизованы</div>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-compose-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Заполните форму</h4>
							<a class="btn btn-success">Заполнить форму</a>
						</div>
					</div>
					<div class="service-step warning">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-close-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Заполните форму</h4>
							<div class="alert alert-danger">Вам необходимо выполнить
								<a href="#">вход</a> или
								<a href="#">регистрацию</a>
							</div>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
						</div>
						<div class="service-step__content">
							<h4>Сделайте вашу иммиграцию быстрее</h4>
							<div class="btn-group">
								<a class="btn btn-success">Бесплатная информация</a>
								<a class="btn btn-success-border">Электронные документы</a>
								<a class="btn btn-success-border">Сопровождение</a>
							</div>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-location-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Офисы</h4>
							<table class="table">
								<thead>
									<tr>
										<th>Адрес</th>
										<th>Телефон</th>
										<th>Рабочее время</th>
										<th>Вебсайт</th>
									</tr>
								</thead>
								<tr>
									<td>Civil Registry and Migration Department, Chilonos, 1457 Nicosia</td>
									<td>
										<a href="tel:+35722804486">+357 22 804486</a>
									</td>
									<td>Monday - Friday 08:00 - 15:00</td>
									<td>
										<a href="http://moi.gov.cy">moi.gov.cy</a>
									</td>
								</tr>
								<tr>
									<td>223, Franklin Roosevelt, Limassol, Cyprus</td>
									<td>
										<a href="tel:+35725805641">+357 25 805641</a>
									</td>
									<td>Monday - Friday 07:30 - 14:30</td>
									<td>
										<a href="http://moi.gov.cy">moi.gov.cy</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-cart-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Оплата услуг</h4>
							<div class="pay-step">
								<div class="pay-step__price">Стоимость: €5</div>
								<div class="pay-step__button">
									<img src="https://woocommerce.com/wp-content/uploads/2016/04/PayPal-Express@2x.png" style="width: 200px" />
								</div>
							</div>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-glasses-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Проверьте ваши документы</h4>
							<a class="btn btn-success">Проверить</a>
						</div>
					</div>
					<div class="service-step">
						<div class="service-step__left">
							<!--.service-step__left-line-->
							<!--if step > 0-->
							<!--    .service-step__left-number= step-->
							<!--else-->
							<!--    .service-step__left-number-full-->
							<i class="ion-ios-cloud-upload-outline"></i>
						</div>
						<div class="service-step__content">
							<h4>Отправить на проверку</h4>
							<p class="margin-bottom">После проверки ваших документов наши кураторы свяжутся с вами</p>
							<a class="btn btn-success">Отправить документы куратору</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="footer"></div>
		<script src="/assets/scripts/app.min.js"></script>
	</body>

</html>

frontend/web/template/app/pages/service.jade
extends /blocks/layout-default/layout-default
include /blocks/pay-step/pay-step

block head
    - var pageTitle = 'CSSSR Project Template';

block content
    .container-box
        +breadcrumbs('Pink Slip')
        h1 Pink slip
        .row.margin-bottom
            .col-sm-6
                table.table
                    tr
                        td Стоимость
                        td Бесплатно - 200 евро
                    tr
                        td Сроки исполнения
                        td До 2 недель
                    tr
                        td Ордер
                        td
                            select.select-order
                                option Новый
                                option(selected=true) PS12351232322
                                option PS12351232323
                                option PS12351232323
                    tr
                        td Статус
                        td Активен
                    tr
                        td Баланс
                        td 10 евро

        .service
            +service-step(false).active
                .btn-group
                    a.btn.btn-success Бесплатная информация
                    a.btn.btn-success-border Электронные документы
                    a.btn.btn-success-border Сопровождение

            +service-step('ion-ios-paper-outline', 'Процедура')
                p Procedure for electronic documents

            +service-step('ion-ios-list-outline', 'Чек лист')
                table.table
                    tr: td Copy of valid passport or other travel document with validity of at least three (3) months from the date of the submission of the application
                    tr: td Copy of the passport or other travel document, indicating the last arrival in the Republic and the relevant visa (if applicable)
                    tr: td Copy of the Special Homogenous Identity Card (SHIC), or Certificate by the Embassy of Greece stating that the application for the SHIC is still under consideration
                    tr: td Letter of approval (where applicable)
                    tr: td Original letter of guarantee issued by a bank or cooperative institution in Cyprus with validity of 10 years covering possible repatriation expenses. The amount depends on the country of origin.
                    tr: td Certificate of Health Insurance for medical care that covers inpatient and outpatient care and transportation of corpse (Plan A)
                    tr: td Copy of marriage certificate (where applicable)
                    tr: td Title deed or rental agreement of a house/apartment duly certified by the relevant president of the community (mukhtar)
                    tr: td Proof of stable or adequate income deriving from sources other than employment (i.e. pension, bank account's statement, interest from deposits, dividends etc)
                    tr: td Certificate from a banking institution in Cyprus or a bank account statement proving swifts from abroad
            +service-step('ion-ios-personadd-outline', 'Авторизация')
                p.margin-bottom Для продолжения работы в системе, вам необходимо авторизоваться
                div
                    a.btn.btn-success.margin-right-small(href="#") Вход
                    | или
                    a(href="#") Регистрация

            +service-step('ion-ios-checkmark-outline', 'Авторизация').active
                +alert.alert-success Вы успешно авторизованы

            +service-step('ion-ios-compose-outline', 'Заполните форму')
                a.btn.btn-success Заполнить форму

            +service-step('ion-ios-close-outline', 'Заполните форму').warning
                +alert.alert-danger
                    | Вам необходимо выполнить
                    a(href="#") вход
                    = ' или '
                    a(href="#") регистрацию

            +service-step(false, 'Сделайте вашу иммиграцию быстрее')
                .btn-group
                    a.btn.btn-success Бесплатная информация
                    a.btn.btn-success-border Электронные документы
                    a.btn.btn-success-border Сопровождение
            +service-step('ion-ios-location-outline', 'Офисы')
                table.table
                    thead
                        tr
                            th Адрес
                            th Телефон
                            th Рабочее время
                            th Вебсайт
                    tr
                        td Civil Registry and Migration Department, Chilonos, 1457 Nicosia
                        td: a(href="tel:+35722804486") +357 22 804486
                        td Monday - Friday 08:00 - 15:00
                        td: a(href="http://moi.gov.cy") moi.gov.cy
                    tr
                        td 223, Franklin Roosevelt, Limassol, Cyprus
                        td: a(href="tel:+35725805641") +357 25 805641
                        td Monday - Friday 07:30 - 14:30
                        td: a(href="http://moi.gov.cy") moi.gov.cy
            +service-step('ion-ios-cart-outline', 'Оплата услуг')
                +pay-step(5)
            +service-step('ion-ios-glasses-outline', 'Проверьте ваши документы')
                a.btn.btn-success Проверить
            +service-step('ion-ios-cloud-upload-outline', 'Отправить на проверку')
                p.margin-bottom После проверки ваших документов наши кураторы свяжутся с вами
                a.btn.btn-success Отправить документы куратору
